@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --main-bg-color: #2874f0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  display: flex;
  height: 430px;
  width: 400px;
  border-radius: 40px;
  box-shadow: 1px 1px 9px;
  flex-direction: column;
}
.sec1 {
  background: #3e7cda;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 39px;
  margin-top: 0px;
  height: 154px;
}

.sec1 img {
  margin-bottom: -44px;
  width: 132px;
  height: 126px;
  border-radius: 9999px;
  border: 2px rgba(37.54, 78.84, 225.25, 0.2) solid;
}
/* .imgsec {
  margin-bottom: -43px;
  background-color: #3864ab;
  border-radius: 61px;
  height: 130px;
  width: 129px;
} */

.sec2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(430px - 154px);
}

.foll{
    margin-top: 20px;
}